.idea/
.venv/
.coverage

data-tna

mypy.ini
.mypy_cache/

TODO.txt
DOING.txt
.DS_Store

__pycache__/


Makefile

dist/
trying/
other/
examples/old/

examples/plots
examples/saved*

foo*

*.json
*.sh
*.bat
*.cmd
*.zip

Spy4Cast.egg-info/
