.idea/
.venv/

mypy.ini
.mypy_cache/

TODO.txt
DOING.txt

__pycache__/


Makefile

tests/
other/
examples/old/

examples/plots
examples/saved*

foo*

*.json
*.sh
*.bat
*.cmd
*.zip

Spy4Cast.egg-info/
